<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body mb-0">
                        <div class="row">
                            <div class="col-8 align-self-center">
                                <div class="">
                                    <h4 class="mt-0 header-title">TOTAL INSCRITOS</h4>
                                    <h2 class="mt-0 font-weight-bold text-dark">888</h2>
                                    <p class="mb-0 text-muted"><span class="text-success"><i class="mdi mdi-arrow-up"></i>8.8%</span> VS AÑO ANTERIOR</p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-4 align-self-center">
                                <div class="icon-info text-right">
                                    <i class="dripicons-user bg-soft-warning"></i>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-body-->
                    <div class="card-body overflow-hidden p-0">
                        <div class="d-flex mb-0 h-100 dash-info-box">
                            <div class="w-100">
                                <div class="apexchart-wrapper">
                                    <div id="dash_spark_1" class="chart-gutters"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body mb-0">
                        <div class="row">
                            <div class="col-8 align-self-center">
                                <div class="">
                                    <h4 class="mt-0 header-title">TOTAL INSCRIPCIONES</h4>
                                    <h2 class="mt-0 font-weight-bold text-dark">$8,888.88</h2>
                                    <p class="mb-0 text-muted"><span class="text-success"><i class="mdi mdi-arrow-up"></i>8.8%</span> VS AÑO ANTERIOR</p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-4 align-self-center">
                                <div class="icon-info text-right">
                                    <i class="dripicons-wallet bg-soft-success"></i>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-body-->
                    <div class="card-body overflow-hidden p-0">
                        <div class="d-flex mb-0 h-100 dash-info-box">
                            <div class="w-100">
                                <div class="apexchart-wrapper">
                                    <div id="apex_column1" class="chart-gutters"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="card carousel-bg-img">
                    <div class="card-body dash-info-carousel mb-0">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-12 align-self-center">
                                            <div class="text-center">
                                                <h4 class="mt-0 header-title text-left">ALUMNOS NUEVOS</h4>
                                                <div class="icon-info my-3">
                                                    <i class="dripicons-user bg-soft-pink"></i>
                                                </div>
                                                <h2 class="mt-0 font-weight-bold text-dark">88</h2>
                                                <p class="mb-1 text-muted"><span class="text-success"><i class="mdi mdi-arrow-up"></i>8.8%</span> VS AÑO PASADO</p>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end carousel-item-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-12 align-self-center">
                                            <div class="text-center">
                                                <h4 class="mt-0 header-title text-left">ALUMNOS RECURRENTES</h4>
                                                <div class="icon-info my-3">
                                                    <i class="dripicons-user bg-soft-info"></i>
                                                </div>
                                                <h2 class="mt-0 font-weight-bold text-dark">88</h2>
                                                <p class="mb-1 text-muted"><span class="text-danger"><i class="mdi mdi-arrow-down"></i>8.8%</span> VS AÑO PASADO</p>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end carousel-item-->
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">ANTERIOR</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">SIGUIENTE</span>
                            </a>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body new-user order-list">
                        <h4 class="header-title mt-0 mb-3">RESUMEN DE MATRÍCULA</h4>
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-top-0">MEDALLA</th>
                                        <th class="border-top-0">NIVEL</th>
                                        <th class="border-top-0">INSCRITOS</th>
                                        <th class="border-top-0">ÚLTIMA INSCRIPCIÓN</th>
                                        <th class="border-top-0">EDAD PROMEDIO</th>
                                        <th class="border-top-0">TOTAL ($)</th>
                                        <th class="border-top-0">ESTATUS</th>
                                    </tr>
                                    <!--end tr-->
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img class="" src="assets/images/products/img-1.png" alt="user"> </td>
                                        <td>
                                            Byte (B)
                                        </td>
                                        <td>
                                            88
                                        </td>
                                        <td>08/08/2020 08:08:08</td>
                                        <td>8 AÑOS</td>
                                        <td>$8,888.88</td>
                                        <td>
                                            <span class="badge badge-boxed  badge-soft-success">SUPERADO</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="" src="assets/images/products/img-1.png" alt="user"> </td>
                                        <td>
                                            KiloByte (KB)
                                        </td>
                                        <td>
                                            88
                                        </td>
                                        <td>08/08/2020 08:08:08</td>
                                        <td>8 AÑOS</td>
                                        <td>$8,888.88</td>
                                        <td>
                                            <span class="badge badge-boxed  badge-soft-success">SUPERADO</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="" src="assets/images/products/img-1.png" alt="user"> </td>
                                        <td>
                                            MegaByte (MB)
                                        </td>
                                        <td>
                                            88
                                        </td>
                                        <td>08/08/2020 08:08:08</td>
                                        <td>8 AÑOS</td>
                                        <td>$8,888.88</td>
                                        <td>
                                            <span class="badge badge-boxed  badge-soft-warning">ACEPTABLE</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="" src="assets/images/products/img-1.png" alt="user"> </td>
                                        <td>
                                            GigaByte (GB)
                                        </td>
                                        <td>
                                            88
                                        </td>
                                        <td>08/08/2020 08:08:08</td>
                                        <td>8 AÑOS</td>
                                        <td>$8,888.88</td>
                                        <td>
                                            <span class="badge badge-boxed  badge-soft-warning">ACEPTABLE</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="" src="assets/images/products/img-1.png" alt="user"> </td>
                                        <td>
                                            TeraByte (TB)
                                        </td>
                                        <td>
                                            88
                                        </td>
                                        <td>08/08/2020 08:08:08</td>
                                        <td>8 AÑOS</td>
                                        <td>$8,888.88</td>
                                        <td>
                                            <span class="badge badge-boxed  badge-soft-danger">REZAGADO</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="" src="assets/images/products/img-1.png" alt="user"> </td>
                                        <td>
                                            Master (M)
                                        </td>
                                        <td>
                                            88
                                        </td>
                                        <td>08/08/2020 08:08:08</td>
                                        <td>8 AÑOS</td>
                                        <td>$8,888.88</td>
                                        <td>
                                            <span class="badge badge-boxed  badge-soft-danger">REZAGADO</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end /div-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->

    <footer class="footer text-center text-sm-left">
        &copy; 2020 AEROBOT PLANET <span class="text-muted d-none d-sm-inline-block float-right">ATOMBITS</span>
    </footer>
</div>
<!-- end page content -->