<div class="page-wrapper-inner">

    <!-- Navbar Custom Menu -->
    <div class="navbar-custom-menu">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu list-unstyled">

                    <li class="has-submenu">
                        <a href="#">
                            <i class="mdi mdi-monitor"></i> THINKERS
                        </a>
                        <ul class="submenu">
                            <li routerLinkActive="active"><a routerLink="/list">Aerobot Academy</a></li>
                            <li routerLinkActive="active"><a routerLink="/list">Electro Camp</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- End navigation menu -->
            </div>
            <!-- end navigation -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end left-sidenav-->
</div>
<!--end page-wrapper-inner -->